[Desktop Entry]
Name=Vixen Shell Theme Settings
Comment=Setting up the Vixen Shell theme.
GenericName=Theme Editor
Exec=vxm feature basics frame theme_settings --open
Icon=gnome-settings-theme
Type=Application
Categories=Settings;DesktopSettings;
Keywords=vixen;shell;theme;